[submodule "ssziparchive"]
	path = ssziparchive
	url = git://github.com/samsoffes/ssziparchive.git
[submodule "ViewDeck"]
	path = ViewDeck
	url = git://github.com/Inferis/ViewDeck.git
[submodule "libChessKit"]
	path = libChessKit
	url = git://github.com/x3dhydra/ChessKit.git
